In [ ]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

In [ ]:
By Xinyi Lyu

Objective: Explore the relationship between property/tax class data by borough and restaurant inspection results in New York City. 

The datasets we're going to use
1. https://data.cityofnewyork.us/City-Government/Revised-Notice-of-Property-Value-RNOPV-/8vgb-zm6e/about_data 
2. https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j/about_data
both from the NYC open data.

Hypothesis: 
The higher the property level in a certain boro, the better restaurants there are.

In [3]:
import pandas as pd

# Load datasets
df_property = pd.read_csv('/Users/vera/Desktop/Revised_Notice_of_Property_Value__RNOPV__20241122.csv')  
df_restaurant = pd.read_csv('/Users/vera/Desktop/DOHMH_New_York_City_Restaurant_Inspection_Results_20241122.csv') 


# Preview data 
print (df_property.head())
print (df_restaurant.head())

  MAILED DATE  BOROCODE  BLOCK   LOT  EASE         Address 1  \
0  03/18/2016         1    803  1021   NaN  VICTORIA GODFREY
1  03/18/2016         1    691  1029   NaN               NaN
2  03/18/2016         1    691  1030   NaN               NaN
3  02/19/2016         1   1018  1134   NaN               NaN
4  02/23/2016         1    343    61   NaN               NaN

                  Address 2      Address 3   \
0     1139      GARFIELD AVE            NaN
1      49        ROGERS ROAD  SHIPPAN POINT
2  36        ANDREWS FARM RD            NaN
3                        NaN            NaN
4          65        PITT ST            NaN

                    City, State, Zip   Country   ...    Borough Postcode  \
0  VENICE               CA 90291-4936       NaN  ...        NaN      NaN
1       STAMFORD             CT 06902       NaN  ...        NaN      NaN
2  GREENWICH            CT 06831-3100       NaN  ...        NaN      NaN
3                                 NaN       NaN  ...        NaN      NaN
4  NEW YORK             NY 10002-3504       NaN  ...  MANHATTAN  10002.0

    Latitude  Longitude  Community Board  Council District   Census Tract  \
0        NaN        NaN              NaN                NaN           NaN
1        NaN        NaN              NaN                NaN           NaN
2        NaN        NaN              NaN                NaN           NaN
3        NaN        NaN              NaN                NaN           NaN
4  40.717979 -73.982666              3.0                1.0          12.0

         BIN           BBL              NTA
0        NaN           NaN              NaN
1        NaN           NaN              NaN
2        NaN           NaN              NaN
3        NaN           NaN              NaN
4  1077600.0  1.003430e+09  Lower East Side

[5 rows x 39 columns]
      CAMIS                    DBA           BORO BUILDING           STREET  \
0  50150456          KRAVE IT CAFE  Staten Island    3846A  RICHMOND AVENUE
1  50120994    RUYI LANZHOU NOODLE         Queens    4110A          MAIN ST
2  50105649  Rinconsito Restaurant         Queens     3782         103RD ST
3  41079528     LASAGNA RESTAURANT      Manhattan      196         8 AVENUE
4  50158524  KINGS KITCHEN 92 INC.      Manhattan       92    EAST BROADWAY

   ZIPCODE       PHONE             CUISINE DESCRIPTION INSPECTION DATE  \
0  10312.0  3476957957  Juice, Smoothies, Fruit Salads      06/07/2024
1  11355.0  9175258818                         Chinese      04/18/2022
2  11368.0  5164505097                             NaN      01/01/1900
3  10011.0  2122424551                         Italian      04/01/2024
4  10002.0  6466375666                             NaN      01/01/1900

                                            ACTION  ...  \
0  Violations were cited in the following area(s).  ...
1  Violations were cited in the following area(s).  ...
2                                              NaN  ...
3  Violations were cited in the following area(s).  ...
4                                              NaN  ...

                                     INSPECTION TYPE   Latitude  Longitude  \
0  Administrative Miscellaneous / Initial Inspection  40.544123 -74.165156
1  Pre-permit (Non-operational) / Initial Inspection  40.757887 -73.829331
2                                                NaN  40.752729 -73.864185
3                   Cycle Inspection / Re-inspection  40.743327 -73.999903
4                                                NaN  40.713765 -73.993716

   Community Board Council District Census Tract        BIN           BBL  \
0            503.0             51.0      17011.0  5073837.0  5.055850e+09
1            407.0             20.0      84900.0  4311722.0  4.050410e+09
2            403.0             21.0      40500.0  4044242.0  4.017680e+09
3            104.0              3.0       8700.0  1014005.0  1.007690e+09
4            103.0              1.0        800.0  1003545.0  1.002820e+09

    NTA  Location Point1
0  SI01              NaN
1  QN22              NaN
2  QN26              NaN
3  MN13              NaN
4  MN27              NaN

[5 rows x 27 columns]

In [5]:
boro_mapping = {
    1: "Manhattan",
    2: "Bronx",
    3: "Brooklyn",
    4: "Queens",
    5: "Staten Island"
}

In [9]:
df_property['BORO'] = df_property['BOROCODE'].map(boro_mapping)
print (df_property)

      MAILED DATE  BOROCODE  BLOCK   LOT  EASE         Address 1  \
0      03/18/2016         1    803  1021   NaN  VICTORIA GODFREY
1      03/18/2016         1    691  1029   NaN               NaN
2      03/18/2016         1    691  1030   NaN               NaN
3      02/19/2016         1   1018  1134   NaN               NaN
4      02/23/2016         1    343    61   NaN               NaN
...           ...       ...    ...   ...   ...               ...
27307  02/19/2016         5   8003    71   NaN               NaN
27308  02/19/2016         5   8020    67   NaN               NaN
27309  02/19/2016         5   8026     6   NaN               NaN
27310  02/19/2016         5   8038    63   NaN               NaN
27311  02/19/2016         5   8043    19   NaN               NaN

                      Address 2      Address 3   \
0         1139      GARFIELD AVE            NaN
1          49        ROGERS ROAD  SHIPPAN POINT
2      36        ANDREWS FARM RD            NaN
3                            NaN            NaN
4              65        PITT ST            NaN
...                          ...            ...
27307   5475      ARTHUR KILL RD            # B
27308        7         BENTON CT           # 7E
27309          169       MAIN ST            NaN
27310        32        PARKER ST            NaN
27311         7339      AMBOY RD            NaN

                        City, State, Zip   Country   ...  Postcode   Latitude  \
0      VENICE               CA 90291-4936       NaN  ...       NaN        NaN
1           STAMFORD             CT 06902       NaN  ...       NaN        NaN
2      GREENWICH            CT 06831-3100       NaN  ...       NaN        NaN
3                                     NaN       NaN  ...       NaN        NaN
4      NEW YORK             NY 10002-3504       NaN  ...   10002.0  40.717979
...                                   ...       ...  ...       ...        ...
27307  STATEN ISLAND        NY 10307-1101       NaN  ...   10307.0  40.511623
27308  STATEN ISLAND        NY 10306-2762       NaN  ...   10306.0  40.558178
27309  STATEN ISLAND        NY 10307-1226       NaN  ...   10307.0  40.510666
27310  STATEN ISLAND        NY 10307-1323       NaN  ...   10307.0  40.514163
27311  STATEN ISLAND        NY 10307-1425       NaN  ...   10307.0  40.510925

       Longitude  Community Board  Council District   Census Tract        BIN  \
0            NaN              NaN                NaN           NaN        NaN
1            NaN              NaN                NaN           NaN        NaN
2            NaN              NaN                NaN           NaN        NaN
3            NaN              NaN                NaN           NaN        NaN
4     -73.982666              3.0                1.0          12.0  1077600.0
...          ...              ...                ...           ...        ...
27307 -74.251622              3.0               51.0         248.0        NaN
27308 -74.136315              3.0               51.0       13204.0  5105403.0
27309 -74.248407              3.0               51.0         248.0  5105003.0
27310 -74.238131              3.0               51.0         248.0  5089045.0
27311 -74.241776              3.0               51.0         248.0  5089145.0

                BBL                                     NTA           BORO
0               NaN                                     NaN      Manhattan
1               NaN                                     NaN      Manhattan
2               NaN                                     NaN      Manhattan
3               NaN                                     NaN      Manhattan
4      1.003430e+09                         Lower East Side      Manhattan
...             ...                                     ...            ...
27307           NaN  Charleston-Richmond Valley-Tottenville  Staten Island
27308  5.050150e+09                   Oakwood-Oakwood Beach  Staten Island
27309  5.080260e+09  Charleston-Richmond Valley-Tottenville  Staten Island
27310  5.080380e+09  Charleston-Richmond Valley-Tottenville  Staten Island
27311  5.080430e+09  Charleston-Richmond Valley-Tottenville  Staten Island

[27312 rows x 40 columns]

In [ ]:

merged_df = pd.merge(df_restaurant, df_property, on='BORO', how='inner')
print (merged_df)

In [1]:
df_grouped = merged_df.groupby(['BORO', 'TAX CLASS'])['SCORE'].mean().reset_index()

# Plotting the average score by borough and tax class
plt.figure(figsize=(10, 6))
sns.barplot(data=df_grouped, x='BORO', y='SCORE', hue='TAX CLASS')

# Adding title and labels
plt.title('Average Scores by Borough and Tax Class')
plt.xlabel('Borough')
plt.ylabel('Average Score')

# Display the plot
plt.xticks(rotation=45)  # Rotate x labels for better readability
plt.tight_layout()
plt.show()

NameError: name 'merged_df' is not defined